// color variable declarations
$heade-bgColor: #6d4b18;
$main-bgColor: #bef5fe;
$footer-bgColor: #f6d7c2;

//font size
$para-fontSize: 15px;

/* Borwser reset code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
     background-color: $heade-bgColor;
}

.btn{
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.btn-download{
    @extend .btn;
    background-color: #3f8f9b;
    border-radius: 20px;
    color: white;
}

@mixin para-style($size, $style){
    font-size: $size;
    text-align: $style;
    margin: 10px 0;
}

#about p{
    @include para-style(17px, left);
}

#education p{
    @include para-style(10px, justify);
}


// nav styling  in SASS************
// nav styling  in SASS************
 nav{
    margin-top: 0;

    ul{
        list-style: none;
        padding: 10px 0;

        li{
            display: inline-block;
            margin: 0 15px;

            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: 10px;
                transition: .4s;
                border-radius: 5px;
             }
             
             a:hover{
                background-color: black;
             }
         }
     }
 }



main{
    background-color: $main-bgColor;
}
#about p{
    // font-size: $para-fontSize;

}

footer{
    background-color: $footer-bgColor;
}