@forward "./base/index";
@use "./util/index" as variables;


header{
    // background-color: index.$header_bg;
    background-color: variables.$header_bg;
    padding: 1rem
}
main{
    background-color: variables.$main_bg;
    padding: 1rem;
}